<launch>
    <!-- arguments -->
    <arg name="map_x_max" type="int" value="10" default="10"/>
    <arg name="map_y_max" type="int" value="10" default="10"/>
    <arg name="home_x" type="int" value="3" default="3"/>
    <arg name="home_y" type="int" value="6" default="6"/>
    <arg name="person_x" type="int" value="4" default="4"/>
    <arg name="person_y" type="int" value="4" default="4"/>

    <!-- parameters -->
    <param name="map/x_max" value="$(arg map_x_max)"/>
    <param name="map/y_max" value="$(arg map_y_max)" />
    <param name="home/x" value="$(arg home_x)"/>
    <param name="home/y" value="$(arg home_y)"/>
    <param name="person/x" value="$(arg person_x)"/>
    <param name="person/y" value="$(arg person_y)"/>

    <!-- nodes -->
    <!--node pkg="assignment1" type="perception.py" name="perception_node" respawn="true"/-->
    <node pkg="assignment1" type="control.py" name="control_node" respawn="true"/>
    <node pkg="assignment1" type="command_manager.py" name="miro_fsm_node" respawn="true" output="screen"/>

</launch>